{% extends "layout.html" %}


{% block content %}
{% if departments_list %}
<!-- <div class="card-deck mb-3">-->
<div class="row">
    {% for department in departments_list %}
            <div class="col-sm-xs mx-3">
            <div class="card border-dark my-1 bg-light" style="width: 20rem;">
                <div class="card-body">
                <h5 class="card-title">{{ department.name }}</h5>
                <p class="card-text">Wybierz dział by wyszukać dokumentację.</p>
                <a href="{% url 'dms:department_details_path' department.id %}" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            </div>

    {% endfor %}
</div>
{% else %}
    <p>Brak działów do wyświetlenia</p>
{% endif %}
{% endblock content %}